* {
    margin: 0;
    padding: 0;
    font-size: 20px;
}

.content {
    background-color: #f5f5f5;
    width: 1200px;
    margin: auto;
    /*overflow: hidden;*/
}

.clear {
    clear: both;
    height: 0;
    width: 0;
}

.content .left,
.content .right{
    float: left;
    overflow: hidden;
}

.content .left {
    width: 200px;
}

.content .right {
    background-color: #ffffff;
}

.content .left button {
    background-color: #f5f5f5;
    color: #0090ff;
    width: 100%;
    height: 60px;
    border: 0px;
    outline: none;
}

.content .left button:hover {
    color: #0050ff;
}

.content .right{
    width: 1000px;
    /*height: 500px;*/
}

.content .right .buttons button {
    color: #00a4af;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 5px;
    border: #00a4af solid 1px;
}

.content .right .buttons button:hover {
    color: #00a4ff;
    border: #00a4ff solid 1px;
}

.content .right .buttons button:focus {
    outline: none;
}

.content .right .dirs a {
    display: inline-block;
    color: #00a4af;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-top: 5px;
}

.content .right .items {
    /*height: 500px;*/
    overflow: auto;
}

.content .right .items>div {
    position: relative;
    top: 0;
    left: 0;
    background: no-repeat 10px center;
    color: #00a4af;
    height: 60px;
    /*background-color: yellow;*/
    border-bottom: #999999 solid 1px;
    border-top: #999999 solid 1px;
    border-collapse: collapse;
    margin-bottom: -1px;
}

.content .right .items .cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.1);
    display: none;
}

.content .right .items>div:hover .cover {
    display: block;
}

.content .right .items .dir {
    background-image: url(/primary/imgs/dir.png);
}

.content .right .items .file {
    position: relative;
    background-image: url(/primary/imgs/file.png);
}

.content .right .items .name {
    color: #00a4af;
    position: absolute;
    left: 80px;
    line-height: 60px;
}

.content .right .items .download {
    color: #00a4af;
    position: absolute;
    right: 120px;
    line-height: 60px;
}

.content .right .items .delete {
    color: #00a4af;
    position: absolute;
    right: 180px;
    line-height: 60px;
}

.content .right .items span {
    color: #00a4af;
    position: absolute;
    right: 10px;
    line-height: 60px;
}
