<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>我的仓库</title>
    <link rel="stylesheet" href="/static/repository.css">
</head>
<body>
    <div th:insert="~{index::header}"></div>

    <div class="content">
        <div class="left">
            <button class="allFiles">全部文件</button>
            <button class="pics">图片</button>
            <button class="docs">文档</button>
        </div>
        <div class="right">
            <div class="buttons">
                <input type="file" id="files" style="display: none">
                <button class="newBTN">新建文件夹</button>
                <button class="upload">上传文件</button>
            </div>
            <div class="dirs">
                <a href="#" class="fanhui">返回上一级</a>
                <a href="#">全部文件</a>
                <span>&gt;</span>
            </div>
            <div class="items">

            </div>
        </div>
        <div class="clear"></div>
    </div>

    <div th:insert="~{index::tailer}"></div>

    <script src="/static/repository.js"></script>
</body>
</html>