* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #eee;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
}
.w {
    width: 1200px;
    margin: auto;
}


.header {
    height: 42px;
    margin: 30px auto;
}

.logo {
    float: left;
    width: 198px;
    height: 42px;
}
.logo img{
    height: 100%;
    width: 100%;
}

.nav {
    float: left;
    height: 42px;
    margin-left: 60px;
}

.nav>ul>li {
    float: left;
    margin: 0 15px;
}

.nav>ul>li>a {
    display: inline-block;
    height: 42px;
    line-height: 42px;
    padding: 0 10px;
    font-size: 18px;
    color: #050505;
}

.nav .xiala {
    display: none;
    position: relative;
    z-index: 2;
    background-color: #eee;
    border-radius: 0 0 5px 5px;
}

.nav .xiala li{
    padding-top: 10px;
}

.nav .xiala li a {
    padding: 0 22px;
    font-size: 18px;
    color: #050505;
}

.nav ul li a:hover{
    border-bottom: 2px solid #00a4ff;
    color: royalblue;
}
.search {
    float: left;
    width: 412px;
    height: 42px;
    margin-left: 50px;
}

.search input {
    float: left;
    width: 345px;
    height: 40px;
    border: 1px solid #00a4ff;
    border-right: none;
    font-size: 14px;
    color: #bfbfbf;
    padding-left: 15px;
}

.search button{
    float: left;
    width: 50px;
    height: 42px;
    border: 1px solid #00a4ff;
    border-left: none;
}

.search button img {
    width: 100%;
    height: 100%;
    border: 0;
}

.user {
    float: left;
    height: 42px;
    margin-left: 50px;
}

.user a {
    height: 42px;
    line-height: 42px;
    color: #272626;
}

.regist {
    margin-top: 60px;
}

.regist .error {
    position: relative;
    width: 200px;
    margin: 0 auto;
    color: red;
    text-align: center;
}


.regist form {
    position: relative;
    width: 300px;
    margin: auto;
}

.regist form input{
    float: right;
    width: 200px;
    margin: 10px 0;
    border: none;
}

.regist form input:focus{
    outline: none;
    border-bottom: 2px #999999 solid;
}

.regist form #validationCode{
    float: right;
    width: 80px;
    margin: 10px 0;
    border: none;
}

.regist form #validationCode:focus{
    outline: none;
    border-bottom: 2px #999999 solid;
}

.regist form .getCode:focus{
    outline: none;
}

.regist form .getCode{
    float: right;
    width: 100px;
    margin: 10px 10px;
    border: none;
    background-color: pink;
    border-radius: 10px;
}

.regist form .submit{
    float: none;
    width: 300px;
    height: 50px;
    background-color: skyblue;
    border-radius: 25px;
}

.regist form span{
    display: inline-block;
    margin: 10px 0;
}

.regist form .promt0{
    position: absolute;
    display: none;
    top: 0;
    left: 310px;
    width: 150px;
    color: red;
}

.regist form .promt1{
    position: absolute;
    display: none;
    top: 40px;
    left: 310px;
    width: 100px;
    color: red;
}

.regist form .promt2{
    position: absolute;
    display: none;
    top: 80px;
    left: 310px;
    width: 100px;
    color: red;
}

.regist form .promt3{
    position: absolute;
    display: none;
    top: 120px;
    left: 310px;
    width: 120px;
    color: red;
}



.tail {
    height: 315px;
    background-color: #fff;
    margin: 50px 0;
}

.tail-box {
    padding-top: 35px;
}

.copyright {
    float: left;
}

.links {
    float: right;
}

.copyright p{
    font-size: 12px;
    color: #666;
    margin: 20px 0 15px 0;
}

.copyright a{
    display: block;
    width: 118px;
    height: 38px;
    border: 1px solid #00a4ff;
    text-align: center;
    line-height: 36px;
    font-size: 16px;
    color: #00a4ff;
}

.links dl {
    float: left;
    margin-left: 100px;
}

.links dt{
    font-size: 16px;
    color: #333;
    margin-bottom: 5px;
}

.links dd a{
    font-size: 12px;
    color: #333;
}
