<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>我的信息</title>
    <style>
        .infopage {
            width: 1200px;
            margin: auto;
        }

        .infopage a {
            display: block;
            color: #050505;
            width: 1200px;
            margin: 100px 350px;
            font-size: 30px;
            text-decoration: none;
        }
    </style>
</head>
<body>
<div class="head" th:insert="~{index::header}"></div>

<!-- 注册表单 -->
<div class="infopage">
    <a href="/login/logout">退出登录</a>
</div>

<div class="tail" th:insert="~{index::tailer}"></div>
</body>
</html>